<head>
    	<!-- Stylesheets -->
	<link rel="stylesheet" href="/order/css/bootstrap.min.css">
	<link rel="stylesheet" href="/order/css/plugins.css">
	<link rel="stylesheet" href="/order/style.css">
	<link rel="stylesheet" href="/order/plugins/fontawesome-free/css/all.min.css">


	<!-- Cusom css -->
   <link rel="stylesheet" href="/order/css/custom.css">
</head>
<br><br><br>
<div class="content-wrapper">
<!-- Start My Account Area -->
		<section class="my_account_area pt--10 pb--55  middle">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-12">
						<div class="my__account__wrapper">
							<h3 class="account__title">Đổi mật khẩu</h3>
							<form action="#" method="POST">
								<div class="account__form">
                                    <div class="input__box">
										<label>Mật khẩu hiện tại<span>*</span></label>
										<input type="password" name="passwordOld" required>
									</div>
									<div class="input__box">
										<label>Mật khẩu mới<span>*</span></label>
										<input type="password" name="password" required>
									</div>
									<div class="input__box">
										<label>Nhập lại mật khẩu mới<span>*</span></label>
										<input type="password" name="rePassword" required>
									</div>
									{{#if hasError}}
									<div><label class="alert alert-danger">{{err}}</label></div>
									{{/if}}
									<div class="form__btn">
										<button type="submit">Lưu chỉnh sửa</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End My Account Area -->
        </div>