<head>

    <link rel='stylesheet' href='/stylesheets/style.css'/>
        <link rel='stylesheet' href='/style.css'/>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">


</head>
<body>
<form action="" method="post" enctype="multipart/form-data">
         
        <h1  id="title">Add post</h1>
     
        <div class="container">
           
            <label><b >Title (*)</b></label>
            <input type="text" name="txtTitle" placeholder="Enter Title" required>

            <label><b>ImagePath (*)</b></label>
            <input name="txtImagePath" type="file" required>
            <br>

            <label><b>Description (*)</b></label>
            <input type="text" name="txtDescription" placeholder="Enter Description" required>

            <label><b>Detail (*)</b></label>
            <input type="text" name="txtDetail" placeholder="Enter Detail" required>

            <label><b>Old Price (*)</b></label>
            <input type="text" name="txtOldPrice" placeholder="Enter Old Price" required>

            <label><b>Sale Price (*)</b></label>
            <input type="text" name="txtSalePrice" placeholder="Enter Sale Price" required>

            <label><b>Phân loại (*)</b></label>
            <input type="text" name="txtCategory" placeholder="Enter Thể loại" required>

            <label><b>Trạng thái </b></label>
            <input type="text" name="txtStatus" placeholder="Enter Trạng thái" >

            <br>
           <div class="row">
                <div class="col-lg-2   ">
                    <a class="drop with--one--item btn-add btn btn-secondary btn-lg" href="/home/posts/">Back</a>
                </div>
                <div class="col-lg-4">
                    <button type="submit" class="drop with--one--item btn-add btn btn-secondary btn-lg">Add</button>
                </div>
            </div>
</div>
        </div>
    </form>
</body>
